<md-card class="survey-card login" layout="column" align="center">
  <md-card-title><md-icon>lock_outline</md-icon>Login</md-card-title>
  <md-list>
    <md-list-item align="start">
      <md-input placeholder="Username" [(ngModel)]="login.username" (keyup.enter)="submit()">
        <span md-prefix>
          <md-icon>account_circle</md-icon>
          &nbsp;
        </span>
      </md-input>
    </md-list-item>
    <md-list-item align="start">
      <md-input placeholder="Password" [(ngModel)]="login.password"  (keyup.enter)="submit()" type="password">
        <span md-prefix>
          <md-icon>vpn_key</md-icon>
          &nbsp;
        </span>
      </md-input>
    </md-list-item>
  </md-list>
  <div layout="row" align="end">
    <button md-button (click)="submit()"><md-icon>input</md-icon>Login</button>
  </div>
</md-card>
