<md-card class="survey-card survey-edit" layout="column">
  <md-card-title>
      <md-input placeholder="Survey Question" [(ngModel)]="survey.title"></md-input>
  </md-card-title>
  <md-list>
    <md-list-item *ngFor="let option of survey.options; let i = index">
      <md-input placeholder="Survey Option" [(ngModel)]="option.text"></md-input>
      <button md-icon-button (click)="deleteOption(i)"><md-icon>delete</md-icon></button>
    </md-list-item>
  </md-list>
  <div layout="row" align="end">
    <button md-button (click)="addOption()"><md-icon>add</md-icon>Add Option</button>
    <button md-button (click)="save()"><md-icon>save</md-icon>Save</button>
  </div>
</md-card>

<h3 class="md-title">Preview</h3>
<md-card class="survey-card survey" layout="column">
  <md-card-title>
      {{survey.title}}
  </md-card-title>
  <md-list class="options">
    <md-list-item
      *ngFor="let option of survey.options; let idx = index"
      (click)="setSelected(idx)"
      [class.selected]="idx===selectedIndex">
      {{option.text}}
    </md-list-item>
  </md-list>
  <div layout="row" align="end" *ngIf="selectedIndex > -1">
    <button md-button (click)="submit()"><md-icon>publish</md-icon>Submit</button>
  </div>
</md-card>
