<md-card class="survey-card survey" layout="column">
  <md-card-title>
      {{title}}
  </md-card-title>
  <md-list class="options">
    <md-list-item
      *ngFor="let option of options; let idx = index"
      (click)="setSelected(idx)"
      [class.selected]="idx===selectedIndex">
      {{option.text}}
    </md-list-item>
  </md-list>
  <div layout="row" align="end" *ngIf="selectedIndex > -1">
    <button md-button (click)="submit()"><md-icon>publish</md-icon>Submit</button>
  </div>
</md-card>
