/* Use local version of Material Icons font  */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/app/resources/Material-Font.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  /* padding: 10px; */
  min-width: 200px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.survey-card {
  max-width: 80%;
  height: 90%;
  min-height: 90%;
  margin: 20px auto;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.survey-card.survey .options md-list-item .md-list-item:hover {
  background-color: rgba(133, 133, 133, .5)
}

.survey-card.survey .options md-list-item.selected .md-list-item {
  background-color: rgba(133, 133, 133, .7)
}

.survey-card .md-input-wrapper, .survey-card md-input {
  width: 100%;
}

md-toolbar .material-icons {
  position: relative;
  top: 6px;
}

md-card-title .material-icons {
  position: relative;
  top: 3px;
}

.survey-card.login .md-list-item {
  margin: 5px 0;
}

.survey-card.login .md-input-prefix {
  width: 40px;
}

.survey-card.survey .md-list-item, .survey-card.results .md-list-item{
  border: 1px dashed rgba(133, 133, 133, .5);
  border-radius: 10px;
}

.survey-card button md-icon {
  position: relative;
  top: 6px;
  margin: 0 3px;
}

.survey-card.results md-list-item .results {
  background: #009688;
  color: white;
  padding: 13px;
  margin-left: -16px;
  margin-right: 10px;
  border-radius: 10px 0 0 10px;
}
